In [1]:
import tensorflow as tf
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
import pickle

2025-04-08 02:43:43.551774: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Data Preprocessing
df = df.drop(columns=['RowNumber','CustomerId','Surname'],axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# encoding categorical data gender
label_encoder_gender = LabelEncoder()
df['Gender']= label_encoder_gender.fit_transform(df['Gender'])
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [5]:
# one hot encoding the geography column
geo_one_hot_encoder = OneHotEncoder()
geo_encoded = geo_one_hot_encoder.fit_transform(df[['Geography']]).toarray()
geo_encoded

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [6]:
# geo encoded dataframe
geo_encoded_df = pd.DataFrame(geo_encoded,columns = geo_one_hot_encoder.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# concatenating the geo encoded dataframe with the original dataframe
df = pd.concat([df.drop(columns=['Geography'],axis=1),geo_encoded_df],axis=1)
df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [8]:
# splitting the datasent into features and target variable
x = df.drop(columns=['EstimatedSalary'],axis=1)
y = df['EstimatedSalary']

# splitting the dataset into training and testing set
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

# scaling the features
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [9]:
# save the encoded data and scaler

with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('geo_one_hot_encoder.pkl','wb') as file:
    pickle.dump(geo_one_hot_encoder,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

# ANN Regression Implementation

In [10]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [11]:
# building the model

model = Sequential([
    Dense(64,activation='relu',input_shape=(x_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1) # output layer no need to write activation function because linear activation is default its only there for regression
])

# compiling the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

/Users/abdulqavi/Documents/analysis/venv/lib/python3.11/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [12]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [13]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [14]:
# setting up the tensorboard callback
log_dir = 'regressionlogs/fit/' + datetime.datetime.now().strftime('%y%m%d-%H%M%S')
tensorboard_callback = TensorBoard(log_dir = log_dir, histogram_freq=1)

In [15]:
# early stopping
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [16]:
# training the model
history = model.fit(
    x_train,
    y_train,
    validation_data= (x_test,y_test),
    epochs=100,
    callbacks=[tensorboard_callback, early_stopping_callback]
)

Epoch 1/100

250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 12ms/step - loss: 100177.9141 - mae: 100177.9141 - val_loss: 98498.3516 - val_mae: 98498.3516
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 99133.0156 - mae: 99133.0156 - val_loss: 96919.9844 - val_mae: 96919.9844
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 98107.2188 - mae: 98107.2188 - val_loss: 92929.0859 - val_mae: 92929.0859
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 93127.0547 - mae: 93127.0547 - val_loss: 86288.8750 - val_mae: 86288.8750
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 85850.5859 - mae: 85850.5859 - val_loss: 77793.4609 - val_mae: 77793.4609
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 77673.8906 - mae: 77673.8906 - val_loss: 68933.2891 - val_mae: 68933.2891
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 13ms/step - loss: 68371.8594 - mae: 68371.8594 - val_loss: 61226.7148 - val_mae: 61226.7148
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 61110.8281 - mae: 61110.8281 - val_loss: 55778.8750 - val_mae: 55778.8750
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 55591.8555 - mae: 55591.8555 - val_loss: 52611.1797 - val_mae: 52611.1797
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 52290.7656 - mae: 52290.7656 - val_loss: 51258.7852 - val_mae: 51258.7852
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 51866.8008 - mae: 51866.8008 - val_loss: 50851.5586 - val_mae: 50851.5586
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50018.6680 - mae: 50018.6680 - val_loss: 50737.7109 - val_mae: 50737.7109
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50202.6836 - mae: 50202.6836 - val_loss: 50688.3477 - val_mae: 50688.3477
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50356.7305 - mae: 50356.7305 - val_loss: 50639.3633 - val_mae: 50639.3633
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50040.8398 - mae: 50040.8398 - val_loss: 50601.2812 - val_mae: 50601.2812
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50430.0664 - mae: 50430.0664 - val_loss: 50567.4219 - val_mae: 50567.4219
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50271.8906 - mae: 50271.8906 - val_loss: 50531.1328 - val_mae: 50531.1328
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50325.9180 - mae: 50325.9180 - val_loss: 50504.8984 - val_mae: 50504.8984
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 50035.9141 - mae: 50035.9141 - val_loss: 50481.0391 - val_mae: 50481.0391
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50203.3945 - mae: 50203.3945 - val_loss: 50460.6680 - val_mae: 50460.6680
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50123.6758 - mae: 50123.6758 - val_loss: 50435.3672 - val_mae: 50435.3672
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50175.3555 - mae: 50175.3555 - val_loss: 50408.7539 - val_mae: 50408.7539
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49960.6797 - mae: 49960.6797 - val_loss: 50393.5625 - val_mae: 50393.5625
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49944.3164 - mae: 49944.3164 - val_loss: 50373.2227 - val_mae: 50373.2227
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49470.1758 - mae: 49470.1758 - val_loss: 50355.1211 - val_mae: 50355.1211
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49972.3164 - mae: 49972.3164 - val_loss: 50347.7969 - val_mae: 50347.7969
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49676.6445 - mae: 49676.6445 - val_loss: 50331.5156 - val_mae: 50331.5156
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49976.6289 - mae: 49976.6289 - val_loss: 50335.5508 - val_mae: 50335.5508
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49634.4219 - mae: 49634.4219 - val_loss: 50326.6094 - val_mae: 50326.6094
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49589.8516 - mae: 49589.8516 - val_loss: 50324.2578 - val_mae: 50324.2578
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49650.8008 - mae: 49650.8008 - val_loss: 50322.2773 - val_mae: 50322.2773
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 48929.9844 - mae: 48929.9844 - val_loss: 50316.0430 - val_mae: 50316.0430
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 49965.6016 - mae: 49965.6016 - val_loss: 50314.3242 - val_mae: 50314.3242
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49407.5352 - mae: 49407.5352 - val_loss: 50313.8086 - val_mae: 50313.8086
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49969.9297 - mae: 49969.9297 - val_loss: 50300.1211 - val_mae: 50300.1211
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49623.5312 - mae: 49623.5312 - val_loss: 50300.8711 - val_mae: 50300.8711
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49689.9570 - mae: 49689.9570 - val_loss: 50294.2070 - val_mae: 50294.2070
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49830.9297 - mae: 49830.9297 - val_loss: 50289.0664 - val_mae: 50289.0664
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49871.7109 - mae: 49871.7109 - val_loss: 50289.8984 - val_mae: 50289.8984
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49594.0547 - mae: 49594.0547 - val_loss: 50285.6875 - val_mae: 50285.6875
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49456.4219 - mae: 49456.4219 - val_loss: 50279.8516 - val_mae: 50279.8516
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49915.8047 - mae: 49915.8047 - val_loss: 50281.6133 - val_mae: 50281.6133
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49371.9062 - mae: 49371.9062 - val_loss: 50278.0625 - val_mae: 50278.0625
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49031.7539 - mae: 49031.7539 - val_loss: 50271.5781 - val_mae: 50271.5781
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49805.2344 - mae: 49805.2344 - val_loss: 50271.8828 - val_mae: 50271.8828
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49586.0039 - mae: 49586.0039 - val_loss: 50273.5703 - val_mae: 50273.5703
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49156.5977 - mae: 49156.5977 - val_loss: 50264.9453 - val_mae: 50264.9453
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49489.8242 - mae: 49489.8242 - val_loss: 50256.9414 - val_mae: 50256.9414
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49265.6328 - mae: 49265.6328 - val_loss: 50259.9023 - val_mae: 50259.9023
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49600.8516 - mae: 49600.8516 - val_loss: 50253.5586 - val_mae: 50253.5586
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49917.5508 - mae: 49917.5508 - val_loss: 50243.0898 - val_mae: 50243.0898
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49438.3789 - mae: 49438.3789 - val_loss: 50258.7617 - val_mae: 50258.7617
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49830.8867 - mae: 49830.8867 - val_loss: 50255.7539 - val_mae: 50255.7539
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49662.3281 - mae: 49662.3281 - val_loss: 50261.4766 - val_mae: 50261.4766
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49625.7617 - mae: 49625.7617 - val_loss: 50253.9141 - val_mae: 50253.9141
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49375.9023 - mae: 49375.9023 - val_loss: 50252.8672 - val_mae: 50252.8672

In [17]:
%load_ext tensorboard

In [18]:
tensorboard --logdir=regressionlogs/fit

Launching TensorBoard...

In [19]:
# Evaluating the model
loss, mae = model.evaluate(x_test,y_test)
print(f'Mean Absolute Error: {mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 51111.2344 - mae: 51111.2344
Mean Absolute Error: 50243.08984375

In [20]:
# saving the model
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.